<%= form_with model: @blog_post do |form| %>
  <% if form.object.errors.any? %>
    <div>
      <ul>
        <% form.object.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
    </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.label :published_at%>
    <%= form.datetime_select :published_at, include_blank: true %>
  </div>
  <%= form.button class: "bg-green-200 text-sm font-bold py-1 px-3 rounded inline-block my-4" %>
<% end %>